.date-container {
  width: 40vw;
  position: relative;
  margin: 1px auto;

  text-align: center;

  background-color: #070913;
  border-radius: 25px;

  padding: 10px 10px;
}

.date-container .date {
  color: #ffe142;
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
}
