* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ledger";
  background-color: var(--background-color);
  padding: 25px;
}

:root {
  --background-color: #ffe142;
  --text-color: black;

  --popup-animation-delay: 0s;
  --date-load-delay: 5s;
  --weather-load-delay: 5.2s;
  --temp-load-delay: 5.3s;
  --description-delay: 5.4s;
  --weather-info-box-delay: 5.5s;
  --hourly-forecast-delay: 5.6s;
  --right-arrow-delay: 7s;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  color: var(--text-color);
  font-size: 20px;

  transition: 0.4s ease;
}

.location-box {
  margin-bottom: 3em;

  .location {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 900;
    text-align: center;
  }
}

.weather-box {
  text-align: center;

  .weather {
    animation: weather-load 0.9s ease-out forwards;
    animation-delay: var(--weather-load-delay);

    opacity: 0;
  }

  .temp {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    margin-top: -20px;
    opacity: 0;

    color: var(--text-color);
    font-size: 10em;
    font-weight: 900;

    animation: temp-load 0.9s ease-out forwards;
    animation-delay: var(--temp-load-delay);
  }
}

.weather-container {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 700;
}

@media screen and (min-width: 380px) {
}

@keyframes temp-load {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes weather-load {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
