* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body > #root > div {
  height: 100vh;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Ledger";
}

:root {
  --popup-animation-delay: 0s;
  --date-load-delay: 5s;
  --weather-load-delay: 5.2s;
  --temp-load-delay: 5.3s;
  --description-delay: 5.4s;
  --weather-info-box-delay: 5.5s;
  --hourly-forecast-delay: 5.6s;
  --right-arrow-delay: 7s;
}

.light {
  --background-color: #ffe142;
  --text-color: #000000;
  --svg-filter: invert(97%) sepia(52%) saturate(3089%) hue-rotate(321deg)
    brightness(107%) contrast(105%);
}

.dark {
  --background-color: #ff64d6;
  --text-color: #000000;
  --svg-filter: invert(55%) sepia(56%) saturate(1600%) hue-rotate(286deg)
    brightness(102%) contrast(101%);
}

.app {
  background-color: var(--background-color);
}

.theme-button {
  border-radius: 15%;
  height: 3rem;
  width: 5rem;

  transition: all 0.25s;
  font-family: "Ledger";

  background-color: var(--background-color);
  &:hover {
    transform: scale(1.1);
  }
}

.location-box {
  margin-bottom: 3em;

  .location {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 900;
    text-align: center;
  }
}

.weather-box {
  text-align: center;

  .weather {
    animation: weather-load 0.9s ease-out forwards;
    animation-delay: var(--weather-load-delay);

    opacity: 0;
  }

  .temp {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    margin-top: -20px;
    opacity: 0;

    color: var(--text-color);
    font-size: 10em;
    font-weight: 900;

    animation: temp-load 0.9s ease-out forwards;
    animation-delay: var(--temp-load-delay);
  }
}

.weather-container {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 700;
}

@media screen and (min-width: 380px) {
}

@keyframes temp-load {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes weather-load {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
